$primary-normal: #cab0e5;
$primary-dark: #9932CC;
$primary-light: #DDA0DD;

$secondary-normal: #9186c6;
$secondary-dark: #535782;
$secondary-light: #7B68EE;
$secondary-darkness: #535782;

$white-normal: #F8F8FF;
$white-dark: #FFF0F5;
$white-light: #FAF0E6;

$gray-normal: #C0C0C0;
$gray-dark: #A9A9A9;
$gray-light: #DCDCDC;

$pastel-normal: #FFEFD5;
$pastel-dark: #FFDAB9;
$pastel-light: #FFFFE0;


