
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $white-normal;
    position: fixed; 
    padding-left: 25rem;
    z-index: 10;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo h3 {
    color: $primary-normal;
    font-size: 1.6rem;
    font-weight: 700;
}

.logo img {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.content .lista-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .lista-menu li a {
    padding: 3rem 1rem 2.3rem 1rem;
    color: $primary-normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 200ms ease-in;
}

.content .lista-menu li a:hover {
    background-color: $secondary-normal;
    border-bottom: 4px solid $secondary-dark;
    color: $secondary-darkness;
}

@media screen and (max-width: 1200px)  {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0px;
    }

    .content .lista-menu li a:hover {
        background-color: transparent;
        border-bottom: none; 
        color: $secondary-darkness;
    }

    .logo img {
        padding: 2rem;
        }
}

@media  screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .content .lista-menu {
        display: none;
    }

    .one,
    .two,
    .three {
        width: 80%;
        height: 2px;
        background-color: $primary-normal;
        margin: 6px auto;
        transition: 0.5s;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
    }

    .content.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(230,230,250);
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo {
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .lista-menu {
        display: block;
    }

    .content.on .lista-menu li {
        display: flex;
        justify-content: center;
    }

    .content.on .lista-menu li a {
        font-size: 2rem;
    }

    .content.on .menu-toggle .two {
        opacity: 0;
    }

    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px, -8px);
    }

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    }
}